homeassistant.key
logfile.txt
*.sw[a-p]
**/__pycache__
*.pyc

# The following file is no longer used, but we should keep ignoring it until 
# we're sure that everyone has deleted it:
data.txt
command.json
